{% extends '@OptimeEmail/layout.html.twig' %}

{% block page_header 'Email Template Form' %}

{% block page_header_actions %}
    <a href="{{ path('optime_emails_template_list') }}" class="btn btn-primary">Back</a>
{% endblock page_header_actions %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block content %}

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <input class="btn btn-primary" type="submit" value="Save">

    {{ form_end(form) }}

{% endblock %}