{% extends '@OptimeEmail/layout.html.twig' %}

{# {% block page_header 'Email Templates Bundle' %} #}
{% block page_header_container '' %}

{% block body_content %}
    <div class="container-fluid mt-4 px-4">
        <div id="emails_config_root"
             data-basename="{{ path('optime_emails_home') }}"
        ></div>
    </div>

    <script src="{{ asset('bundles/optimeemail/build/app.js') }}"></script>
{% endblock %}